*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.banner{
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.3)),url(../Assets/chris-liverani-oCsaxvGCehM-unsplash\ \(1\).jpg) repeat fixed 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
    width: 100%;
}
/* #pewaa{
    padding-top: 10%;
    padding-bottom: 10%;
   
} */
#contactUs{
    background: transparent;
    background-size: cover;
    /* color: white; */
    height: 30vh;
}
